[Unit]
Description=Object Detection
After=network.target

[Service]

User=root
WorkingDirectory=/opt/dashcam/bin
ExecStart=nice -n 0 ionice -c 1 -n 2 -t python3 detect_hdc.py --model_path /opt/dashcam/bin/n640_float16.tflite
Restart=always

StandardOutput=append:/mnt/data/object-detection.log
StandardError=append:/mnt/data/object-detection.log

[Install]
WantedBy=multi-user.target
